form {
  .inputField {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #FFF;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #FFF;
    background-color: #000;
    border-radius: 5px;
    border: none;
  }
}

.degrade {
  background: #f7b918;
  background: -moz-linear-gradient(top, #f7b918 0%, #ffdf00 100%);
  background: -webkit-linear-gradient(top, #f7b918 0%,#ffdf00 100%);
  background: linear-gradient(to bottom, #f7b918 0%,#ffdf00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b918', endColorstr='#ffdf00',GradientType=0 );

  .logo {
    width: 260px;
    height: 230px;
    margin: 0px auto;
    margin-top: 30px;
    background: url("../../assets/imgs/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
  }
}
