<ion-header>

  <ion-navbar>
    <ion-buttons start>

    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Solicitud de Arreglo
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content>

  <div class="bgOrange">

    <ion-grid>
      <ion-row>
        <ion-col col-12>

          <ion-list>
            <ion-item>
              <ion-label>Areas:</ion-label>
             <ion-select [(ngModel)]="areaSeleccionada" (ionChange)="cambiarArticulo($event)">
                <ion-option *ngFor="let areas of objectJson" value={{areas.AreasID}}>{{areas.AreasDescrip}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-label>Articulos:</ion-label>
             <ion-select [(ngModel)]="articuloSeleccionado">
                <ion-option *ngFor="let articulos of artAreas" value={{articulos.ArticulosID}}>{{articulos.ArticulosDescrip}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-12>

        <ion-list radio-group [(ngModel)]="domic">
          <ion-item>
            <ion-label><h3>Domicilio Cargado</h3></ion-label>
            <ion-radio value="1" checked></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item class="input-form">
            <div>
              <input class="inputField" type="text" placeholder="Calle" required [(ngModel)]="calle" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Calle'" />
            </div>
            <!--<ion-input type="text" placeholder="Calle" required [(ngModel)]="calle"></ion-input>-->
          </ion-item>

          <ion-item class="input-form">
            <div>
              <input class="inputField" type="text" required [(ngModel)]="calleN" placeholder="Calle Nº" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Calle Nº'" />
            </div>
            <!--<ion-input type="text" placeholder="Calle Nº" required [(ngModel)]="calleN"></ion-input>-->
          </ion-item>

          <ion-item class="input-form">
            <div>
              <input class="inputField" type="text" placeholder="Codigo postal" required [(ngModel)]="CP"/>
            </div>
          </ion-item>

          <ion-item class="input-form">
            <div>
              <input class="inputField"type="text" placeholder="Localidad" required [(ngModel)]="localidad"/>
            </div>
          </ion-item>

          <ion-item>
            <div>
              <input class="inputField" type="text" placeholder="Provincia" required [(ngModel)]="provincia"/>
            </div>
          </ion-item>

          <ion-item>
            <div>
              <input class="inputField" type="text" placeholder="Pais" required [(ngModel)]="Pais"/>
            </div>
          </ion-item>

          <ion-item>
            <div>
              <ion-textarea [(ngModel)]="descripcionProb" placeholder="Ingrese descripcion del problema"></ion-textarea>
            </div>
          </ion-item>

          <ion-item>
            <div>
              <ion-input type="text" placeholder="Horario disponible" required [(ngModel)]="horario"></ion-input>
            </div>
          </ion-item>

          <ion-item>
            <button class="btn" ion-button type="submit" (click)="registrarPedido()">Solicitar</button>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
