<ion-header>

  <ion-navbar>
    <ion-buttons start>

    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
   Asignar Pedidos
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content class="bgGrey">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h3>Ingresá tu pedido</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h1>La solución está cada vez más cerca</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item class="inputField">
            <ion-label>Pedidos:</ion-label>

            <ion-select [(ngModel)]="pedidoseleccionado">
              <ion-option *ngFor="let PedidosDisponibles of pedidoJson" value={{PedidosDisponibles.PedidoReparacionID}}>{{PedidosDisponibles.Cliente}}-{{PedidosDisponibles.Domicilio}}</ion-option>
            </ion-select>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item class="inputField">
          <ion-label>Tecnicos:</ion-label>

           <ion-select [(ngModel)]="tecnicoSeleccionado">
             <ion-option *ngFor="let tecnicos of tecnicosJson" value={{tecnicos.TecnicoID}}>{{tecnicos.Nombre}},{{tecnicos.Apellido}}</ion-option>
           </ion-select>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


    <ion-item>
      <button class="btn" ion-button type="submit" (click)="asignaPedido()">Asignar Pedido</button>
    </ion-item>
</ion-content>
