.bgGrey {
  background: #e5e6e9;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #E5E6E9 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#E5E6E9 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%,#E5E6E9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E5E6E9',GradientType=0 );
}

h1, h3 {
  color: #434041;
  text-align: center;
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 30px;
}

h3 {
  margin-top: 40px;
}

.item-ios {
  background-color: transparent;
}

.list-ios > .item-block:first-child {
  border: none;
}

.inputField {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background-color: #FFF;
}
.btn {
  width: 100%;
  padding: 35px !important;
  font-weight: bold;
  font-size: 1.8rem!important;
  color: #FFF;
  background-color: #000;
  border-radius: 5px;
  border: none;
}
