
/*------------ helpers ------------*/
.flex {display: -webkit-box; display: -ms-flexbox; display: flex;}
.flexRow {-webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
.flexColumn {-webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.flexAligner {-webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.flexCenter {-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.flexSpace {-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between}
.flexAligItems {-webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center;}
/*------------ finis helpers ------------*/


.degrade {
  background: #f7b918;
  background: -moz-linear-gradient(top, #f7b918 0%, #ffdf00 100%);
  background: -webkit-linear-gradient(top, #f7b918 0%,#ffdf00 100%);
  background: linear-gradient(to bottom, #f7b918 0%,#ffdf00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b918', endColorstr='#ffdf00',GradientType=0 );
}

.degradeGrey {
  background: #e5e6e9;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #E5E6E9 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#E5E6E9 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%,#E5E6E9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E5E6E9',GradientType=0 );
}

.bgOrange {background-color: #f7b810;}

.bgWhite {background-color: #FFF;}

.logo {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url("../../assets/imgs/logo.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.logo2 {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  background: url("../../assets/imgs/logo2.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.starCalification {
  width: 80%;
  margin: 35px auto;
}

.star {
  width: 30px;
  height: 30px;
  background: url("../../assets/imgs/starWhite.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.star.active {
  background: url("../../assets/imgs/starBlack.png") no-repeat;
  background-size: contain;
  background-position: center;
}


.iconMenu {
  font-size: 30px;
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 0px;
  top: 13px;
  width: 30px;
  height: 30px;
}

.icon.iconHome {
  background: url('../../assets/imgs/iconHome.png') no-repeat;
  background-position: center;
  background-size: 80%;
}

.icon.iconInbox {
  background: url('../img/iconInbox.png') no-repeat;
  background-position: center;
  background-size: 80%;
}

.icon.iconLogout {
  background: url('../../assets/imgs/iconLogout.png') no-repeat;
  background-position: center;
  background-size: 80%;
}

.icon.iconStar {
  background: url('../../assets/imgs/iconStar.png') no-repeat;
  background-position: center;
  background-size: 80%;
}

.icon.iconUser {
  background: url('../../assets/imgs/iconUser.png') no-repeat;
  background-position: center;
  background-size: 80%;
}

/*------------ finish calification ------------*/ */
