.mainMenu {
  background-color: #010101;
  .item-ios {
    color: #FFFFFF !important;
  }
  ion-icon {
    color: #f7b810;
  }
  button.item-ios:not([detail-none]) .item-inner {
    background: none;
    border-color: #f7b810;
  }
  .list-ios > .item-block:last-child {
    border-color: #f7b810;
  }
}
